.image-title {
  margin: 1vw;
  padding: 1rem 0;
  text-align: center;
  border: hidden;
  background-color: antiquewhite;
  border-radius: 10px;
  
  
}

.image-title h2 {
  font-size: 2rem;  
}

.image-gallery-wrapper {
  margin-top: 5rem;
  max-width: 1850px;
  width: 35;
  margin: 3%;
  border: 5px solid rgb(146, 129, 242);
  box-shadow: #2b15453d 1px 10px 10px 5px;
}

@media screen and (min-width: 590px) {
  .image-gallery-wrapper {
    padding: 1rem;    
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.review-form {
    min-width: 80%;   
    margin: 0.5vw;
    padding: 1vw;
    border: double;
    border-radius: 10px;
}

.review-form h2 {
    display: block;
    text-align: center;
    margin: 0 0 2vh 0;
    border: 0;
    border-radius: 5px;
    background-color: rgb(238, 220, 220);
    
}

.review-form input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(238, 220, 220);
}

button {
    padding: 10px;
    margin: 1vw;
    cursor: pointer;
    color: blue;
    background-color: aliceblue;
}

.reviews {
  margin: 2vw 0;
  padding: 1vw;
  border: double;
  border-radius: 10px;
  background-color: rgb(153, 207, 238);
  color: blue;
  opacity: 0.80;
  font-weight: bolder;
  font-size: medium;
}



